//主色
$primary: #e55472;
$success: #26de81;
$info: #a5b1c2;
$warning: #f7b731;
$error: #fc5c65;

//浅色
$shallow-primary: #f0f1f7;
$shallow-success: #e1f3d8;
$shallow-info: #eff3fd;
$shallow-warning: #fdf6ec;
$shallow-error: #fef0f0;
//文字色
$text-primary: #fff;
$text-gray: #5e6d82;
$text-shallow: #dcdfe6;
$text-shallow-gray: #606266;
//背景色
$bgc-primary: #e55472;
$bgc-shallow: #ec9cac;
$bgc-gray: #f8bdc8;


