.demo-row .demo-item {
  margin: 10px;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: #000;
}
h1,
h2,
h3,
h4,
h5,
h6,
body {
  margin: 0;
}
body {
  font-family: 'Arial', 'Microsoft YaHei', '黑体', '宋体', sans-serif;
}
// $main-color: #ff2288;
